@model QLTX.Models.EMotorbike

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
	<div class="container-fluid px-4">
		<h2 class="mt-4">Thêm mới</h2>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">Loại xe</li>
		</ol>

		<hr />
		<div class="row">
			<div class="col-md-4">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div> 
					<div class="mb-3"> 
						<label asp-for="License" class="control-label">Biển số xe</label>
						<input asp-for="License" class="form-control" />
						<span asp-validation-for="License" class="text-danger"></span>
					</div> 
					<div class="mb-3">
						<label asp-for="TypeMotorbikeId" class="control-label mb-2">Loại xe</label>
						<select asp-for="TypeMotorbikeId" class="form-control" asp-items="ViewBag.TypeMotorbikeId">
						</select>
						<span asp-validation-for="TypeMotorbikeId" class="text-danger"></span>
					</div>
					@* <div class="mb-3">
						<label asp-for="Status" class="control-label mb-2">Trạng thái</label>
						<select asp-for="Status" class="form-control" asp-items="@ViewBag.StatusList">
						</select>
						<span asp-validation-for="Status" class="text-danger"></span>
					</div> *@
					<div class="mb-3">
						<label asp-for="VinNumber" class="control-label mb-2">Số khung</label>
						<input asp-for="VinNumber" class="form-control" />
						<span asp-validation-for="VinNumber" class="text-danger"></span>
					</div>
					 
					<div class="mb-3">
						<label asp-for="Description" class="control-label mb-2">Mô tả</label>
						<input asp-for="Description" class="form-control" />
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>

					<div class="form-group d-flex justify-content-between align-items-center">
						<a asp-action="Index" class="btn btn-secondary">Đóng</a>
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-save"></i> Lưu
						</button>

					</div>
				</form>
			</div>
		</div>


	</div>
</main>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

 
